* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #745e4c;
}

section img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

main {
    padding-left: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: black;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
} 

.nav-link {
    position: relative;
    padding: 0 10px;
    margin: 0 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    line-height: 50px;
    color: black; 
}

.container-center {
    margin: 20px auto;
    width: 1024px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 2;
    background-color: #ffffff;
    box-shadow: 15px 15px 30px -1px;
}

.two-sides {
    display: flex;
}

.left-side {
    width: 50%;
    color: var(--dark-gray-color);
    background-color: var(--pink-color);
}

.right-side {
    width: 50%;
    padding: 20px;  
}

.section-title {
    margin-bottom: 20px;  
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #745e4c;
}

.section-profile-title {
    display: flex;
    text-align: left;
    text-transform: uppercase; 
}

.my-github {
    display: flex;
    align-items: center;
}

.year {
    padding-left: 20px;
}

.rss-icon {
    padding-left: 20px;
}